<div mat-dialog-content>
  <mat-toolbar color="primary">
    <span>Crear Rol</span>
  </mat-toolbar>
  <form [formGroup]="crearRolForm" (ngSubmit)="guardarRol()">

    <mat-grid-list cols="2" rowHeight="100px">


      <mat-grid-tile>
        <mat-form-field class="ancho" appearance="outline">
          <mat-label>Nombre del rol</mat-label>
          <input matInput autocomplete="off" formControlName="rol">
          <mat-error *ngIf="crearRolForm.controls['rol'].hasError('required')">
            Por favor, escribe el nombre del rol.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox formControlName="activo" [(ngModel)]="IsChecked">Activo</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" class="add-top">
        <h2>Accesos</h2>
      </mat-grid-tile>

      <mat-grid-tile class="text-15" [colspan]="2">
        <mat-label class="margin-l" *ngFor="let item of listaMenus; let i = index">
          <input type="checkbox" (change)="onChange(item.idMenu, $event)" [value]="item.idMenu" [checked]="item.isChecked" />
          {{item.descripcion}}
        </mat-label>
      </mat-grid-tile>

      <mat-grid-tile class="text-15" [colspan]="2">
        <mat-error *ngIf="crearRolForm.controls['menus'].hasError('required')">
          Por favor, selecciona al menos un acceso.
        </mat-error>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">

        <a mat-raised-button style="margin-right:20px;" (click)="volver()">Volver</a>
        <button mat-raised-button color="primary" [disabled]="crearRolForm.invalid" type="submit">Guardar</button>


      </mat-grid-tile>





    </mat-grid-list>

  </form>
</div>
