<div class="body">
  <div class="login">

    <mat-toolbar color="primary">
      <span>Recuperar Contraseña</span>
    </mat-toolbar>

    <!-- card -->
    <mat-card style="margin-top:10px;">

      <form [formGroup]="forgotForm" (ngSubmit)="recuperar()">

        <mat-grid-list cols="2" rowHeight="100px">

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="ancho" appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput autocomplete="off" formControlName="correo" type="email">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button mat-raised-button color="primary" [disabled]="forgotForm.invalid" type="submit">Restablecer Contraseña</button>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <a href="#" routerLink="../login">La cuenta ya existe? Login</a>
          </mat-grid-tile>

        </mat-grid-list>

      </form>

    </mat-card>

    <br />

    </div>
  </div>



