<div mat-dialog-content>
  <mat-toolbar color="primary">
    <span>Crear Razon Social</span>
  </mat-toolbar>
  <form [formGroup]="editarRazonSocialForm" (ngSubmit)="guardarRazonSocial()">

    <mat-grid-list cols="2" rowHeight="100px">


      <mat-grid-tile>
        <mat-form-field class="ancho" appearance="outline">
          <mat-label>Nombre de la Razon Social</mat-label>
          <input matInput autocomplete="off" formControlName="razonSocial">
          <!--<mat-error class="text-danger" *ngIf="f.rut.errors?.required">Por favor ingresa el RUT chileno.</mat-error>
          <mat-error *ngIf="f.rut.errors?.invalidRut">El formato del rut chileno es incorrecto.</mat-error>-->
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-checkbox formControlName="activo" [(ngModel)]="IsChecked">Activo</mat-checkbox>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2" [rowspan]="1">

        <a mat-raised-button style="margin-right:20px;" (click)="volver()">Volver</a>
        <button mat-raised-button color="primary" [disabled]="editarRazonSocialForm.invalid" type="submit">Guardar</button>


      </mat-grid-tile>





    </mat-grid-list>

  </form>
</div>
